%% Copyright 2020 wangwenhai
%% 
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%% 
%%     http://www.apache.org/licenses/LICENSE-2.0
%% 
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.

  [
    {trump, [
      %% TCP选项
      {tcp_options, [{acceptors, 8},
        {max_connections, 100000},
        {tcp_options,
          [binary,
            {reuseaddr, true},
            {backlog, 512},
            {packet, 0},
            {nodelay, false}]}]},
      %% Mysql配置,注意，数据库采用Mysql8 
      {mysql_options, [
        {host, "125.74.48.134"},
        {port, 3308},
        {user, "root"},
        {password, "root"},
        {database, "mqtt"}
        %% ++ SSL
      ]},
      %% 是否开启SSL
      %% on 开启；off 关闭
      {mysql_ssl, on}, 
      {mysql_ssl_options, [{server_name_indication, disable},
        {cacertfile, "/Users/wangwenhai/github/trump/config/ca.pem"}, 
        {certfile, "/Users/wangwenhai/github/trump/config/client-cert.pem"},
        {keyfile, "/Users/wangwenhai/github/trump/config/client-key.pem"}]},
      %% 客户端认证的SQL语句，可以自定义表结构
      {authsql,<<"SELECT `id`, `client_id` FROM ez_device WHERE `client_id` =? limit 1">>},
      {trump_options, [
        %% TCP端口
        {tcp_port, 5000},
        %% UDP端口
        {udp_port, 5001},
        %% KV 端口
        {kv_port, 5002}
      ]}
    ]},
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "./error_logs"},
        {error_logger_mf_maxbytes, 10485760},
        {error_logger_mf_maxfiles, 10}
      ]},
    {kernel, []}
].
