  [
    {trap, [
      {tcp_options, [{acceptors, 8},
        {max_connections, 100000},
        {tcp_options,
          [binary,
            {reuseaddr, true},
            {backlog, 512},
            {packet, 0},
            {nodelay, false}]}]},
      {mysql_options, [
        {host, "localhost"},
        {port, 3308},
        {user, "root"},
        {password, "root"},
        {database, "ezlinker"}
      ]}
    ]},
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "~/error_logs"},
        {error_logger_mf_maxbytes, 10485760}, % 10 MB
        {error_logger_mf_maxfiles, 10}
      ]},
    {kernel, []}
].
